{% extends 'base.html' %}

{% load static %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://www.google.com/recaptcha/api.js?render={{ captcha_sitekey }}"></script> 
    <script>
        function submitform() {
            grecaptcha.ready(function() {
                grecaptcha.execute('{{ captcha_sitekey }}', {action: 'login'}).then(function(token) {
                    document.getElementById('recaptcha').innerHTML = '<input type="hidden" name="g-recaptcha-response" value="' + token + '">';
                    document.getElementById('loginform').submit();
                });
            });
        }
    </script>

{% endblock %}

{% block content %}
    {% if error %}
        <p id="error">{{ error }}</p>
    {% endif %}
    <div class="flex flex-col items-center justify-center bg-slate-700 min-h-screen ">

        <div class="flex flex-col items-center justify-center  break-words bg-white border-0 shadow-soft-md rounded-2xl bg-clip-border">
            <div class="flex-auto items-center justify-center">
                <p class="font-bold p-6 ">Pixi</p>
            </div>
            <div class="flex p-6">
                <form role="form text-left" action="{% url 'login_page'%}" method="post" id="loginform">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Username" aria-label="Username" name="username" id="username" aria-describedby="username-addon" />
                    </div>
                    <div class="mb-4">
                        <input type="password" name="password" id="password" class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Password" aria-label="Password" aria-describedby="password-addon" />
                    </div>
                    <div id="recaptcha"></div>
                    <div class="min-h-6 pl-7 mb-0.5 block">
                        <input id="terms" class="w-5 h-5 ease-soft -ml-7 rounded-1.4 checked:bg-gradient-to-tl checked:from-gray-900 checked:to-slate-800 after:text-xxs after:font-awesome after:duration-250 after:ease-soft-in-out duration-250 relative float-left mt-1 cursor-pointer appearance-none border border-solid border-slate-200 bg-white bg-contain bg-center bg-no-repeat align-top transition-all after:absolute after:flex after:h-full after:w-full after:items-center after:justify-center after:text-white after:opacity-0 after:transition-all after:content-['\f00c'] checked:border-0 checked:border-transparent checked:bg-transparent checked:after:opacity-100" type="checkbox" value="" checked />
                        <label class="mb-2 ml-1 font-normal cursor-pointer select-none text-sm text-slate-700" for="terms"> I agree the <a href="javascript:;" class="font-bold text-slate-700">Terms and Conditions</a> </label>
                    </div>
                    <div class="text-center">
                        <button type="button" onclick="submitform()" class="inline-block w-full px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gradient-to-tl from-gray-900 to-slate-800 hover:border-slate-700 hover:bg-slate-700 hover:text-white">Log in</button>
                    </div>
                    <p class="mt-4 mb-0 leading-normal text-sm">Have'nt account? <a href="{% url 'signup_page'%}" class="font-bold text-slate-700">Sign in</a></p>
                </form>
            </div>
        </div>
        
    </div>

{% endblock %}

